/* Import all your fonts from fonts.google.com */
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
    font-size: 16px;
    scroll-behavior: smooth;
}

body {
    /* Reset CSS */
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    background-color: #bb1515;
}

.home_lets_connect_paragraph {
    font-family: 'Roboto', sans-serif;
    color: #18c0c0;
    /* font-size: calc(13px + (36 - 13) * ((100vw - 300px) / (1600 - 300))); */
    /* font-size: calc(8rem + (46 - 13) * ((100vw - 300rem) / (1600 - 300))); */
    /* font-size: calc(1rem + (36 - 16) * ((100vw - 18rem) / (1600 - 300))); */
    font-size: calc(1rem + (36 - 16) * ((100vw - 300px) / (1600 - 300)));
    text-transform: uppercase;
    margin: 0 0 0 20px;
}